.scrawl-wrapper .preview a {
  color: #0645ad;
  text-decoration: none; }
.scrawl-wrapper .preview a:visited {
  color: #0b0080; }
.scrawl-wrapper .preview a:hover {
  color: #06e; }
.scrawl-wrapper .preview a:active {
  color: #faa700; }
.scrawl-wrapper .preview a:focus {
  outline: thin dotted; }
.scrawl-wrapper .preview a:hover, .scrawl-wrapper .preview a:active {
  outline: 0; }
.scrawl-wrapper .preview ::-moz-selection {
  background: rgba(255, 255, 0, 0.3);
  color: #000; }
.scrawl-wrapper .preview ::selection {
  background: rgba(255, 255, 0, 0.3);
  color: #000; }
.scrawl-wrapper .preview a::-moz-selection {
  background: rgba(255, 255, 0, 0.3);
  color: #0645ad; }
.scrawl-wrapper .preview a::selection {
  background: rgba(255, 255, 0, 0.3);
  color: #0645ad; }
.scrawl-wrapper .preview p {
  margin: 1em 0; }
.scrawl-wrapper .preview img {
  max-width: 100%; }
.scrawl-wrapper .preview h1, .scrawl-wrapper .preview h2, .scrawl-wrapper .preview h3, .scrawl-wrapper .preview h4, .scrawl-wrapper .preview h5, .scrawl-wrapper .preview h6 {
  font-weight: normal;
  color: #111;
  line-height: 1em; }
.scrawl-wrapper .preview h4, .scrawl-wrapper .preview h5, .scrawl-wrapper .preview h6 {
  font-weight: bold; }
.scrawl-wrapper .preview h1 {
  font-size: 2.5em; }
.scrawl-wrapper .preview h2 {
  font-size: 2em; }
.scrawl-wrapper .preview h3 {
  font-size: 1.5em; }
.scrawl-wrapper .preview h4 {
  font-size: 1.2em; }
.scrawl-wrapper .preview h5 {
  font-size: 1em; }
.scrawl-wrapper .preview h6 {
  font-size: 0.9em; }
.scrawl-wrapper .preview blockquote {
  color: #666666;
  margin: 0;
  padding-left: 2em;
  border-left: 0.5em #EEE solid; }
.scrawl-wrapper .preview hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #eee;
  margin: 1em 0;
  padding: 0; }
.scrawl-wrapper .preview pre, .scrawl-wrapper .preview code, .scrawl-wrapper .preview kbd, .scrawl-wrapper .preview samp {
  color: #000;
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 0.98em; }
.scrawl-wrapper .preview pre {
  padding-left: 2em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }
.scrawl-wrapper .preview b, .scrawl-wrapper .preview strong {
  font-weight: bold; }
.scrawl-wrapper .preview dfn {
  font-style: italic; }
.scrawl-wrapper .preview ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }
.scrawl-wrapper .preview mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }
.scrawl-wrapper .preview sub, .scrawl-wrapper .preview sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }
.scrawl-wrapper .preview sup {
  top: -0.5em; }
.scrawl-wrapper .preview sub {
  bottom: -0.25em; }
.scrawl-wrapper .preview ul, .scrawl-wrapper .preview ol {
  margin: 1em 0;
  padding: 0 0 0 2em; }
.scrawl-wrapper .preview li p:last-child {
  margin: 0; }
.scrawl-wrapper .preview dd {
  margin: 0 0 0 2em; }
.scrawl-wrapper .preview img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }
.scrawl-wrapper .preview table {
  border-collapse: collapse;
  border-spacing: 0; }
.scrawl-wrapper .preview td {
  vertical-align: top; }